EmpInfo/Service References/EmpWebSvr/TrulyEmpSvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ic.truly.com.cn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ic.truly.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ic.truly.com.cn/">
      <s:element name="SendToAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendToAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToAlias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToAliasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendToAliasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToTags">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToTagsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendToTagsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySendResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msgId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySendResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuerySendResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecivedMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecivedMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecivedMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterFirstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinishRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinishRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinishRegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserHasEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInDorm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInDormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUserInDormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDormInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDormInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDormInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDormFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDormFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDormFeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDinnerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDinnerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDinnerInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockOrUnLockDinnerCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockOrUnLockDinnerCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LockOrUnLockDinnerCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDinnerBindingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDinnerBindingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDinnerBindingInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDinnerBindingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDinnerBindingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDinnerBindingInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsumeRecordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReChargeRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReChargeRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReChargeRecordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppUrl">
        <s:complexType />
      </s:element>
      <s:element name="GetAppUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPower">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPowerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminActivatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminActivatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminActivatePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryMonths">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryMonthsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryMonthsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalarySummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalarySummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalarySummaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryBankCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryBankCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryBankCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDPDealingCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDPDealingCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDPDealingCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginDPApply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginDPApplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeginDPApplyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDPApply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDPApplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitDPApplyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDPItemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDPItemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDPItemListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAndAuditDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAndAuditDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAndAuditDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoommateComfirmDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoommateComfirmDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoommateComfirmDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccepterComfirmDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccepterComfirmDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccepterComfirmDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RepairerFinishDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RepairerFinishDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RepairerFinishDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplierEvalateDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplierEvalateDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplierEvalateDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendToAllSoapIn">
    <wsdl:part name="parameters" element="tns:SendToAll" />
  </wsdl:message>
  <wsdl:message name="SendToAllSoapOut">
    <wsdl:part name="parameters" element="tns:SendToAllResponse" />
  </wsdl:message>
  <wsdl:message name="SendToAliasSoapIn">
    <wsdl:part name="parameters" element="tns:SendToAlias" />
  </wsdl:message>
  <wsdl:message name="SendToAliasSoapOut">
    <wsdl:part name="parameters" element="tns:SendToAliasResponse" />
  </wsdl:message>
  <wsdl:message name="SendToTagsSoapIn">
    <wsdl:part name="parameters" element="tns:SendToTags" />
  </wsdl:message>
  <wsdl:message name="SendToTagsSoapOut">
    <wsdl:part name="parameters" element="tns:SendToTagsResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySendResultSoapIn">
    <wsdl:part name="parameters" element="tns:QuerySendResult" />
  </wsdl:message>
  <wsdl:message name="QuerySendResultSoapOut">
    <wsdl:part name="parameters" element="tns:QuerySendResultResponse" />
  </wsdl:message>
  <wsdl:message name="RecivedMessageSoapIn">
    <wsdl:part name="parameters" element="tns:RecivedMessage" />
  </wsdl:message>
  <wsdl:message name="RecivedMessageSoapOut">
    <wsdl:part name="parameters" element="tns:RecivedMessageResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterFirstSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterFirst" />
  </wsdl:message>
  <wsdl:message name="RegisterFirstSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterFirstResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailCode" />
  </wsdl:message>
  <wsdl:message name="SendEmailCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailCodeResponse" />
  </wsdl:message>
  <wsdl:message name="FinishRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:FinishRegister" />
  </wsdl:message>
  <wsdl:message name="FinishRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:FinishRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserHasEmailSoapIn">
    <wsdl:part name="parameters" element="tns:UserHasEmail" />
  </wsdl:message>
  <wsdl:message name="UserHasEmailSoapOut">
    <wsdl:part name="parameters" element="tns:UserHasEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateUser" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLoginDevice" />
  </wsdl:message>
  <wsdl:message name="CheckLoginDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserInDormSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserInDorm" />
  </wsdl:message>
  <wsdl:message name="IsUserInDormSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserInDormResponse" />
  </wsdl:message>
  <wsdl:message name="GetDormInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDormInfo" />
  </wsdl:message>
  <wsdl:message name="GetDormInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDormInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDormFeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDormFee" />
  </wsdl:message>
  <wsdl:message name="GetDormFeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDormFeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDinnerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDinnerInfo" />
  </wsdl:message>
  <wsdl:message name="GetDinnerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDinnerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LockOrUnLockDinnerCardSoapIn">
    <wsdl:part name="parameters" element="tns:LockOrUnLockDinnerCard" />
  </wsdl:message>
  <wsdl:message name="LockOrUnLockDinnerCardSoapOut">
    <wsdl:part name="parameters" element="tns:LockOrUnLockDinnerCardResponse" />
  </wsdl:message>
  <wsdl:message name="GetDinnerBindingInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDinnerBindingInfo" />
  </wsdl:message>
  <wsdl:message name="GetDinnerBindingInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDinnerBindingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDinnerBindingInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDinnerBindingInfo" />
  </wsdl:message>
  <wsdl:message name="SaveDinnerBindingInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDinnerBindingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsumeRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:GetConsumeRecords" />
  </wsdl:message>
  <wsdl:message name="GetConsumeRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:GetConsumeRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReChargeRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReChargeRecords" />
  </wsdl:message>
  <wsdl:message name="GetReChargeRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReChargeRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionCode" />
  </wsdl:message>
  <wsdl:message name="GetVersionCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppUrl" />
  </wsdl:message>
  <wsdl:message name="GetAppUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPowerSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPower" />
  </wsdl:message>
  <wsdl:message name="GetUserPowerSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPowerResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCount" />
  </wsdl:message>
  <wsdl:message name="GetUserCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCountResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDetail" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDetailResponse" />
  </wsdl:message>
  <wsdl:message name="AdminResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:AdminResetPassword" />
  </wsdl:message>
  <wsdl:message name="AdminResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:AdminResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AdminActivatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:AdminActivatePassword" />
  </wsdl:message>
  <wsdl:message name="AdminActivatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:AdminActivatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryInfo" />
  </wsdl:message>
  <wsdl:message name="GetSalaryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryMonthsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryMonths" />
  </wsdl:message>
  <wsdl:message name="GetSalaryMonthsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryMonthsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalarySummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetSalarySummary" />
  </wsdl:message>
  <wsdl:message name="GetSalarySummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetSalarySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryDetail" />
  </wsdl:message>
  <wsdl:message name="GetSalaryDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryBankCardSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryBankCard" />
  </wsdl:message>
  <wsdl:message name="GetSalaryBankCardSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryBankCardResponse" />
  </wsdl:message>
  <wsdl:message name="GetDPDealingCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetDPDealingCount" />
  </wsdl:message>
  <wsdl:message name="GetDPDealingCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetDPDealingCountResponse" />
  </wsdl:message>
  <wsdl:message name="BeginDPApplySoapIn">
    <wsdl:part name="parameters" element="tns:BeginDPApply" />
  </wsdl:message>
  <wsdl:message name="BeginDPApplySoapOut">
    <wsdl:part name="parameters" element="tns:BeginDPApplyResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitDPApplySoapIn">
    <wsdl:part name="parameters" element="tns:SubmitDPApply" />
  </wsdl:message>
  <wsdl:message name="SubmitDPApplySoapOut">
    <wsdl:part name="parameters" element="tns:SubmitDPApplyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDPItemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDPItemList" />
  </wsdl:message>
  <wsdl:message name="GetDPItemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDPItemListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAndAuditDPSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAndAuditDP" />
  </wsdl:message>
  <wsdl:message name="CheckAndAuditDPSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAndAuditDPResponse" />
  </wsdl:message>
  <wsdl:message name="RoommateComfirmDPSoapIn">
    <wsdl:part name="parameters" element="tns:RoommateComfirmDP" />
  </wsdl:message>
  <wsdl:message name="RoommateComfirmDPSoapOut">
    <wsdl:part name="parameters" element="tns:RoommateComfirmDPResponse" />
  </wsdl:message>
  <wsdl:message name="AccepterComfirmDPSoapIn">
    <wsdl:part name="parameters" element="tns:AccepterComfirmDP" />
  </wsdl:message>
  <wsdl:message name="AccepterComfirmDPSoapOut">
    <wsdl:part name="parameters" element="tns:AccepterComfirmDPResponse" />
  </wsdl:message>
  <wsdl:message name="RepairerFinishDPSoapIn">
    <wsdl:part name="parameters" element="tns:RepairerFinishDP" />
  </wsdl:message>
  <wsdl:message name="RepairerFinishDPSoapOut">
    <wsdl:part name="parameters" element="tns:RepairerFinishDPResponse" />
  </wsdl:message>
  <wsdl:message name="ApplierEvalateDPSoapIn">
    <wsdl:part name="parameters" element="tns:ApplierEvalateDP" />
  </wsdl:message>
  <wsdl:message name="ApplierEvalateDPSoapOut">
    <wsdl:part name="parameters" element="tns:ApplierEvalateDPResponse" />
  </wsdl:message>
  <wsdl:portType name="TrulyEmpSvrSoap">
    <wsdl:operation name="SendToAll">
      <wsdl:input message="tns:SendToAllSoapIn" />
      <wsdl:output message="tns:SendToAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendToAlias">
      <wsdl:input message="tns:SendToAliasSoapIn" />
      <wsdl:output message="tns:SendToAliasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendToTags">
      <wsdl:input message="tns:SendToTagsSoapIn" />
      <wsdl:output message="tns:SendToTagsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuerySendResult">
      <wsdl:input message="tns:QuerySendResultSoapIn" />
      <wsdl:output message="tns:QuerySendResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecivedMessage">
      <wsdl:input message="tns:RecivedMessageSoapIn" />
      <wsdl:output message="tns:RecivedMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户登录验证</wsdl:documentation>
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterFirst">
      <wsdl:input message="tns:RegisterFirstSoapIn" />
      <wsdl:output message="tns:RegisterFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <wsdl:input message="tns:SendEmailCodeSoapIn" />
      <wsdl:output message="tns:SendEmailCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinishRegister">
      <wsdl:input message="tns:FinishRegisterSoapIn" />
      <wsdl:output message="tns:FinishRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHasEmail">
      <wsdl:input message="tns:UserHasEmailSoapIn" />
      <wsdl:output message="tns:UserHasEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:input message="tns:ActivateUserSoapIn" />
      <wsdl:output message="tns:ActivateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoginDevice">
      <wsdl:input message="tns:CheckLoginDeviceSoapIn" />
      <wsdl:output message="tns:CheckLoginDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInDorm">
      <wsdl:input message="tns:IsUserInDormSoapIn" />
      <wsdl:output message="tns:IsUserInDormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDormInfo">
      <wsdl:input message="tns:GetDormInfoSoapIn" />
      <wsdl:output message="tns:GetDormInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDormFee">
      <wsdl:input message="tns:GetDormFeeSoapIn" />
      <wsdl:output message="tns:GetDormFeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDinnerInfo">
      <wsdl:input message="tns:GetDinnerInfoSoapIn" />
      <wsdl:output message="tns:GetDinnerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockOrUnLockDinnerCard">
      <wsdl:input message="tns:LockOrUnLockDinnerCardSoapIn" />
      <wsdl:output message="tns:LockOrUnLockDinnerCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDinnerBindingInfo">
      <wsdl:input message="tns:GetDinnerBindingInfoSoapIn" />
      <wsdl:output message="tns:GetDinnerBindingInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDinnerBindingInfo">
      <wsdl:input message="tns:SaveDinnerBindingInfoSoapIn" />
      <wsdl:output message="tns:SaveDinnerBindingInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeRecords">
      <wsdl:input message="tns:GetConsumeRecordsSoapIn" />
      <wsdl:output message="tns:GetConsumeRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReChargeRecords">
      <wsdl:input message="tns:GetReChargeRecordsSoapIn" />
      <wsdl:output message="tns:GetReChargeRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionCode">
      <wsdl:input message="tns:GetVersionCodeSoapIn" />
      <wsdl:output message="tns:GetVersionCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppUrl">
      <wsdl:input message="tns:GetAppUrlSoapIn" />
      <wsdl:output message="tns:GetAppUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPower">
      <wsdl:input message="tns:GetUserPowerSoapIn" />
      <wsdl:output message="tns:GetUserPowerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCount">
      <wsdl:input message="tns:GetUserCountSoapIn" />
      <wsdl:output message="tns:GetUserCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input message="tns:SearchUsersSoapIn" />
      <wsdl:output message="tns:SearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <wsdl:input message="tns:GetUserDetailSoapIn" />
      <wsdl:output message="tns:GetUserDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminResetPassword">
      <wsdl:input message="tns:AdminResetPasswordSoapIn" />
      <wsdl:output message="tns:AdminResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminActivatePassword">
      <wsdl:input message="tns:AdminActivatePasswordSoapIn" />
      <wsdl:output message="tns:AdminActivatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryInfo">
      <wsdl:input message="tns:GetSalaryInfoSoapIn" />
      <wsdl:output message="tns:GetSalaryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryMonths">
      <wsdl:input message="tns:GetSalaryMonthsSoapIn" />
      <wsdl:output message="tns:GetSalaryMonthsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalarySummary">
      <wsdl:input message="tns:GetSalarySummarySoapIn" />
      <wsdl:output message="tns:GetSalarySummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryDetail">
      <wsdl:input message="tns:GetSalaryDetailSoapIn" />
      <wsdl:output message="tns:GetSalaryDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryBankCard">
      <wsdl:input message="tns:GetSalaryBankCardSoapIn" />
      <wsdl:output message="tns:GetSalaryBankCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDPDealingCount">
      <wsdl:input message="tns:GetDPDealingCountSoapIn" />
      <wsdl:output message="tns:GetDPDealingCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeginDPApply">
      <wsdl:input message="tns:BeginDPApplySoapIn" />
      <wsdl:output message="tns:BeginDPApplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitDPApply">
      <wsdl:input message="tns:SubmitDPApplySoapIn" />
      <wsdl:output message="tns:SubmitDPApplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDPItemList">
      <wsdl:input message="tns:GetDPItemListSoapIn" />
      <wsdl:output message="tns:GetDPItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAndAuditDP">
      <wsdl:input message="tns:CheckAndAuditDPSoapIn" />
      <wsdl:output message="tns:CheckAndAuditDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoommateComfirmDP">
      <wsdl:input message="tns:RoommateComfirmDPSoapIn" />
      <wsdl:output message="tns:RoommateComfirmDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccepterComfirmDP">
      <wsdl:input message="tns:AccepterComfirmDPSoapIn" />
      <wsdl:output message="tns:AccepterComfirmDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RepairerFinishDP">
      <wsdl:input message="tns:RepairerFinishDPSoapIn" />
      <wsdl:output message="tns:RepairerFinishDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplierEvalateDP">
      <wsdl:input message="tns:ApplierEvalateDPSoapIn" />
      <wsdl:output message="tns:ApplierEvalateDPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrulyEmpSvrSoap" type="tns:TrulyEmpSvrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToAll">
      <soap:operation soapAction="http://ic.truly.com.cn/SendToAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToAlias">
      <soap:operation soapAction="http://ic.truly.com.cn/SendToAlias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToTags">
      <soap:operation soapAction="http://ic.truly.com.cn/SendToTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySendResult">
      <soap:operation soapAction="http://ic.truly.com.cn/QuerySendResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecivedMessage">
      <soap:operation soapAction="http://ic.truly.com.cn/RecivedMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://ic.truly.com.cn/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://ic.truly.com.cn/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterFirst">
      <soap:operation soapAction="http://ic.truly.com.cn/RegisterFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <soap:operation soapAction="http://ic.truly.com.cn/SendEmailCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishRegister">
      <soap:operation soapAction="http://ic.truly.com.cn/FinishRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasEmail">
      <soap:operation soapAction="http://ic.truly.com.cn/UserHasEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="http://ic.truly.com.cn/ActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginDevice">
      <soap:operation soapAction="http://ic.truly.com.cn/CheckLoginDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInDorm">
      <soap:operation soapAction="http://ic.truly.com.cn/IsUserInDorm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDormInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDormInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDormFee">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDormFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDinnerInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDinnerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockOrUnLockDinnerCard">
      <soap:operation soapAction="http://ic.truly.com.cn/LockOrUnLockDinnerCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDinnerBindingInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDinnerBindingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDinnerBindingInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/SaveDinnerBindingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeRecords">
      <soap:operation soapAction="http://ic.truly.com.cn/GetConsumeRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReChargeRecords">
      <soap:operation soapAction="http://ic.truly.com.cn/GetReChargeRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionCode">
      <soap:operation soapAction="http://ic.truly.com.cn/GetVersionCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUrl">
      <soap:operation soapAction="http://ic.truly.com.cn/GetAppUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPower">
      <soap:operation soapAction="http://ic.truly.com.cn/GetUserPower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCount">
      <soap:operation soapAction="http://ic.truly.com.cn/GetUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://ic.truly.com.cn/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <soap:operation soapAction="http://ic.truly.com.cn/GetUserDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminResetPassword">
      <soap:operation soapAction="http://ic.truly.com.cn/AdminResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminActivatePassword">
      <soap:operation soapAction="http://ic.truly.com.cn/AdminActivatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryInfo">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSalaryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryMonths">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSalaryMonths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalarySummary">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSalarySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryDetail">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSalaryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryBankCard">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSalaryBankCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDPDealingCount">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDPDealingCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginDPApply">
      <soap:operation soapAction="http://ic.truly.com.cn/BeginDPApply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDPApply">
      <soap:operation soapAction="http://ic.truly.com.cn/SubmitDPApply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDPItemList">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDPItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndAuditDP">
      <soap:operation soapAction="http://ic.truly.com.cn/CheckAndAuditDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoommateComfirmDP">
      <soap:operation soapAction="http://ic.truly.com.cn/RoommateComfirmDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccepterComfirmDP">
      <soap:operation soapAction="http://ic.truly.com.cn/AccepterComfirmDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RepairerFinishDP">
      <soap:operation soapAction="http://ic.truly.com.cn/RepairerFinishDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplierEvalateDP">
      <soap:operation soapAction="http://ic.truly.com.cn/ApplierEvalateDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrulyEmpSvrSoap12" type="tns:TrulyEmpSvrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToAll">
      <soap12:operation soapAction="http://ic.truly.com.cn/SendToAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToAlias">
      <soap12:operation soapAction="http://ic.truly.com.cn/SendToAlias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToTags">
      <soap12:operation soapAction="http://ic.truly.com.cn/SendToTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySendResult">
      <soap12:operation soapAction="http://ic.truly.com.cn/QuerySendResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecivedMessage">
      <soap12:operation soapAction="http://ic.truly.com.cn/RecivedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://ic.truly.com.cn/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://ic.truly.com.cn/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterFirst">
      <soap12:operation soapAction="http://ic.truly.com.cn/RegisterFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailCode">
      <soap12:operation soapAction="http://ic.truly.com.cn/SendEmailCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishRegister">
      <soap12:operation soapAction="http://ic.truly.com.cn/FinishRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasEmail">
      <soap12:operation soapAction="http://ic.truly.com.cn/UserHasEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap12:operation soapAction="http://ic.truly.com.cn/ActivateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginDevice">
      <soap12:operation soapAction="http://ic.truly.com.cn/CheckLoginDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInDorm">
      <soap12:operation soapAction="http://ic.truly.com.cn/IsUserInDorm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDormInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDormInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDormFee">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDormFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDinnerInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDinnerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockOrUnLockDinnerCard">
      <soap12:operation soapAction="http://ic.truly.com.cn/LockOrUnLockDinnerCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDinnerBindingInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDinnerBindingInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDinnerBindingInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/SaveDinnerBindingInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeRecords">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetConsumeRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReChargeRecords">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetReChargeRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionCode">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetVersionCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUrl">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetAppUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPower">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetUserPower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCount">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetUserCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://ic.truly.com.cn/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetUserDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminResetPassword">
      <soap12:operation soapAction="http://ic.truly.com.cn/AdminResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminActivatePassword">
      <soap12:operation soapAction="http://ic.truly.com.cn/AdminActivatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryInfo">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSalaryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryMonths">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSalaryMonths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalarySummary">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSalarySummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryDetail">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSalaryDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryBankCard">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSalaryBankCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDPDealingCount">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDPDealingCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginDPApply">
      <soap12:operation soapAction="http://ic.truly.com.cn/BeginDPApply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDPApply">
      <soap12:operation soapAction="http://ic.truly.com.cn/SubmitDPApply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDPItemList">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDPItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndAuditDP">
      <soap12:operation soapAction="http://ic.truly.com.cn/CheckAndAuditDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoommateComfirmDP">
      <soap12:operation soapAction="http://ic.truly.com.cn/RoommateComfirmDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccepterComfirmDP">
      <soap12:operation soapAction="http://ic.truly.com.cn/AccepterComfirmDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RepairerFinishDP">
      <soap12:operation soapAction="http://ic.truly.com.cn/RepairerFinishDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplierEvalateDP">
      <soap12:operation soapAction="http://ic.truly.com.cn/ApplierEvalateDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrulyEmpSvr">
    <wsdl:port name="TrulyEmpSvrSoap" binding="tns:TrulyEmpSvrSoap">
      <soap:address location="http://59.37.42.23/EmpWebSvr/TrulyEmpSvr.asmx" />
    </wsdl:port>
    <wsdl:port name="TrulyEmpSvrSoap12" binding="tns:TrulyEmpSvrSoap12">
      <soap12:address location="http://59.37.42.23/EmpWebSvr/TrulyEmpSvr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>