EmpInfo/Service References/QywxWebSrv/QywxApiSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ic.truly.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ic.truly.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ic.truly.com.cn/">
      <s:element name="GetAccessToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJsApiTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJsApiTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJsApiTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noncestr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSignatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByOpenId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="openId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByOpenIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIdByOpenIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOpenIdByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOpenIdByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOpenIdByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOAthLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="redirectUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOAthLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOAthLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="redirectUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdFromCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdFromCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIdFromCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVarifyMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingAESKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg_signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nonce" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="echostr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVarifyMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVarifyMsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDecryptMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingAESKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg_signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nonce" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="post_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDecryptMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDecryptMsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingAESKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nonce" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="replyData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEncryptMsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushTextMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textMsg" type="tns:TextMsg" />
            <s:element minOccurs="1" maxOccurs="1" name="whenToPush" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="touser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="toparty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agentid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="tns:TextContent" />
          <s:element minOccurs="1" maxOccurs="1" name="safe" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="enable_id_trans" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="enable_duplicate_check" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="duplicate_check_interval" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PushTextMsgResponse">
        <s:complexType />
      </s:element>
      <s:element name="PushTextCardMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textCardMsg" type="tns:TextCardMsg" />
            <s:element minOccurs="1" maxOccurs="1" name="whenToPush" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextCardMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="touser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="toparty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agentid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="textcard" type="tns:TextCardContent" />
          <s:element minOccurs="1" maxOccurs="1" name="enable_id_trans" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="enable_duplicate_check" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="duplicate_check_interval" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextCardContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="btntxt" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PushTextCardMsgResponse">
        <s:complexType />
      </s:element>
      <s:element name="WxBeginApply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apply" type="tns:WxApply" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WxApply">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="creator_userid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="template_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="use_template_approver" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="approver" type="tns:ArrayOfWxApplyApprover" />
          <s:element minOccurs="0" maxOccurs="1" name="notifyer" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="notify_type" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="apply_data" type="tns:WxApplyData" />
          <s:element minOccurs="0" maxOccurs="1" name="summary_list" type="tns:ArrayOfSummaryListModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWxApplyApprover">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WxApplyApprover" nillable="true" type="tns:WxApplyApprover" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WxApplyApprover">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="attr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WxApplyData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contents" type="tns:ArrayOfWxApplyDataContent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWxApplyDataContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WxApplyDataContent" nillable="true" type="tns:WxApplyDataContent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WxApplyDataContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="control" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="tns:ControValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ControValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_money" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="tns:DateValue" />
          <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:SelectorValue" />
          <s:element minOccurs="0" maxOccurs="1" name="members" type="tns:ArrayOfMembersValue" />
          <s:element minOccurs="0" maxOccurs="1" name="departments" type="tns:ArrayOfDepartmentsValue" />
          <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfFilesValue" />
          <s:element minOccurs="0" maxOccurs="1" name="children" type="tns:ArrayOfChildrenValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="s_timestamp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectorValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ArrayOfSelectorOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSelectorOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SelectorOption" nillable="true" type="tns:SelectorOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectorOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMembersValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MembersValue" nillable="true" type="tns:MembersValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MembersValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartmentsValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentsValue" nillable="true" type="tns:DepartmentsValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepartmentsValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="openapi_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFilesValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FilesValue" nillable="true" type="tns:FilesValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilesValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="file_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChildrenValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChildrenValue" nillable="true" type="tns:ChildrenValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChildrenValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfControValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfControValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ControValue" nillable="true" type="tns:ControValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSummaryListModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SummaryListModel" nillable="true" type="tns:SummaryListModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SummaryListModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="summary_info" type="tns:ArrayOfSummaryInfoModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSummaryInfoModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SummaryInfoModel" nillable="true" type="tns:SummaryInfoModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SummaryInfoModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WxBeginApplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WxBeginApplyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestApply">
        <s:complexType />
      </s:element>
      <s:element name="TestApplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestApplyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestPush">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestPushResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessToken" />
  </wsdl:message>
  <wsdl:message name="GetAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetJsApiTicketSoapIn">
    <wsdl:part name="parameters" element="tns:GetJsApiTicket" />
  </wsdl:message>
  <wsdl:message name="GetJsApiTicketSoapOut">
    <wsdl:part name="parameters" element="tns:GetJsApiTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetSignature" />
  </wsdl:message>
  <wsdl:message name="GetSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByOpenIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdByOpenId" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByOpenIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdByOpenIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetOpenIdByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetOpenIdByUserId" />
  </wsdl:message>
  <wsdl:message name="GetOpenIdByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetOpenIdByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetOAthLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetOAthLink" />
  </wsdl:message>
  <wsdl:message name="GetOAthLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetOAthLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebLink" />
  </wsdl:message>
  <wsdl:message name="GetWebLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdFromCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdFromCode" />
  </wsdl:message>
  <wsdl:message name="GetUserIdFromCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdFromCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetVarifyMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetVarifyMsg" />
  </wsdl:message>
  <wsdl:message name="GetVarifyMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetVarifyMsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetDecryptMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetDecryptMsg" />
  </wsdl:message>
  <wsdl:message name="GetDecryptMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetDecryptMsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetEncryptMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetEncryptMsg" />
  </wsdl:message>
  <wsdl:message name="GetEncryptMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetEncryptMsgResponse" />
  </wsdl:message>
  <wsdl:message name="PushTextMsgSoapIn">
    <wsdl:part name="parameters" element="tns:PushTextMsg" />
  </wsdl:message>
  <wsdl:message name="PushTextMsgSoapOut">
    <wsdl:part name="parameters" element="tns:PushTextMsgResponse" />
  </wsdl:message>
  <wsdl:message name="PushTextCardMsgSoapIn">
    <wsdl:part name="parameters" element="tns:PushTextCardMsg" />
  </wsdl:message>
  <wsdl:message name="PushTextCardMsgSoapOut">
    <wsdl:part name="parameters" element="tns:PushTextCardMsgResponse" />
  </wsdl:message>
  <wsdl:message name="WxBeginApplySoapIn">
    <wsdl:part name="parameters" element="tns:WxBeginApply" />
  </wsdl:message>
  <wsdl:message name="WxBeginApplySoapOut">
    <wsdl:part name="parameters" element="tns:WxBeginApplyResponse" />
  </wsdl:message>
  <wsdl:message name="TestApplySoapIn">
    <wsdl:part name="parameters" element="tns:TestApply" />
  </wsdl:message>
  <wsdl:message name="TestApplySoapOut">
    <wsdl:part name="parameters" element="tns:TestApplyResponse" />
  </wsdl:message>
  <wsdl:message name="TestPushSoapIn">
    <wsdl:part name="parameters" element="tns:TestPush" />
  </wsdl:message>
  <wsdl:message name="TestPushSoapOut">
    <wsdl:part name="parameters" element="tns:TestPushResponse" />
  </wsdl:message>
  <wsdl:portType name="QywxApiSrvSoap">
    <wsdl:operation name="GetAccessToken">
      <wsdl:input message="tns:GetAccessTokenSoapIn" />
      <wsdl:output message="tns:GetAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJsApiTicket">
      <wsdl:input message="tns:GetJsApiTicketSoapIn" />
      <wsdl:output message="tns:GetJsApiTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSignature">
      <wsdl:input message="tns:GetSignatureSoapIn" />
      <wsdl:output message="tns:GetSignatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByOpenId">
      <wsdl:input message="tns:GetUserIdByOpenIdSoapIn" />
      <wsdl:output message="tns:GetUserIdByOpenIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenIdByUserId">
      <wsdl:input message="tns:GetOpenIdByUserIdSoapIn" />
      <wsdl:output message="tns:GetOpenIdByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOAthLink">
      <wsdl:input message="tns:GetOAthLinkSoapIn" />
      <wsdl:output message="tns:GetOAthLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebLink">
      <wsdl:input message="tns:GetWebLinkSoapIn" />
      <wsdl:output message="tns:GetWebLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdFromCode">
      <wsdl:input message="tns:GetUserIdFromCodeSoapIn" />
      <wsdl:output message="tns:GetUserIdFromCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVarifyMsg">
      <wsdl:input message="tns:GetVarifyMsgSoapIn" />
      <wsdl:output message="tns:GetVarifyMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDecryptMsg">
      <wsdl:input message="tns:GetDecryptMsgSoapIn" />
      <wsdl:output message="tns:GetDecryptMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEncryptMsg">
      <wsdl:input message="tns:GetEncryptMsgSoapIn" />
      <wsdl:output message="tns:GetEncryptMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PushTextMsg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送文本消息</wsdl:documentation>
      <wsdl:input message="tns:PushTextMsgSoapIn" />
      <wsdl:output message="tns:PushTextMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PushTextCardMsg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送文本卡片消息</wsdl:documentation>
      <wsdl:input message="tns:PushTextCardMsgSoapIn" />
      <wsdl:output message="tns:PushTextCardMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WxBeginApply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交审批申请</wsdl:documentation>
      <wsdl:input message="tns:WxBeginApplySoapIn" />
      <wsdl:output message="tns:WxBeginApplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestApply">
      <wsdl:input message="tns:TestApplySoapIn" />
      <wsdl:output message="tns:TestApplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestPush">
      <wsdl:input message="tns:TestPushSoapIn" />
      <wsdl:output message="tns:TestPushSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QywxApiSrvSoap" type="tns:QywxApiSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccessToken">
      <soap:operation soapAction="http://ic.truly.com.cn/GetAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsApiTicket">
      <soap:operation soapAction="http://ic.truly.com.cn/GetJsApiTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignature">
      <soap:operation soapAction="http://ic.truly.com.cn/GetSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByOpenId">
      <soap:operation soapAction="http://ic.truly.com.cn/GetUserIdByOpenId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenIdByUserId">
      <soap:operation soapAction="http://ic.truly.com.cn/GetOpenIdByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOAthLink">
      <soap:operation soapAction="http://ic.truly.com.cn/GetOAthLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebLink">
      <soap:operation soapAction="http://ic.truly.com.cn/GetWebLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdFromCode">
      <soap:operation soapAction="http://ic.truly.com.cn/GetUserIdFromCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVarifyMsg">
      <soap:operation soapAction="http://ic.truly.com.cn/GetVarifyMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecryptMsg">
      <soap:operation soapAction="http://ic.truly.com.cn/GetDecryptMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptMsg">
      <soap:operation soapAction="http://ic.truly.com.cn/GetEncryptMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushTextMsg">
      <soap:operation soapAction="http://ic.truly.com.cn/PushTextMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushTextCardMsg">
      <soap:operation soapAction="http://ic.truly.com.cn/PushTextCardMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WxBeginApply">
      <soap:operation soapAction="http://ic.truly.com.cn/WxBeginApply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestApply">
      <soap:operation soapAction="http://ic.truly.com.cn/TestApply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPush">
      <soap:operation soapAction="http://ic.truly.com.cn/TestPush" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QywxApiSrvSoap12" type="tns:QywxApiSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccessToken">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsApiTicket">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetJsApiTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignature">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByOpenId">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetUserIdByOpenId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenIdByUserId">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetOpenIdByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOAthLink">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetOAthLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebLink">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetWebLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdFromCode">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetUserIdFromCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVarifyMsg">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetVarifyMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecryptMsg">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetDecryptMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptMsg">
      <soap12:operation soapAction="http://ic.truly.com.cn/GetEncryptMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushTextMsg">
      <soap12:operation soapAction="http://ic.truly.com.cn/PushTextMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushTextCardMsg">
      <soap12:operation soapAction="http://ic.truly.com.cn/PushTextCardMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WxBeginApply">
      <soap12:operation soapAction="http://ic.truly.com.cn/WxBeginApply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestApply">
      <soap12:operation soapAction="http://ic.truly.com.cn/TestApply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPush">
      <soap12:operation soapAction="http://ic.truly.com.cn/TestPush" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QywxApiSrv">
    <wsdl:port name="QywxApiSrvSoap" binding="tns:QywxApiSrvSoap">
      <soap:address location="http://192.168.90.100/QywxWebService/QywxApiSrv.asmx" />
    </wsdl:port>
    <wsdl:port name="QywxApiSrvSoap12" binding="tns:QywxApiSrvSoap12">
      <soap12:address location="http://192.168.90.100/QywxWebService/QywxApiSrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>